.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
}

.sidebar {
  width: 280px;
}

.sidebarContent {
  flex: 1 1 auto;
}

.sidebarFooter {
  background-color: lightgreen;
  height: 60px;
}

.content {
  flex: 1 1 auto;
  /* background-color: lightcoral; */
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
}
