.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  flex: 1 1 auto;
  display: flex;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.sidebarContent {
  background-color: lightblue;
  flex: 1 1 auto;
}

.sidebarFooter {
  background-color: lightgreen;
  height: 60px;
}

.content {
  flex: 1 1 auto;
  background-color: lightcoral;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
}
